@charset "utf-8";
    
body {
    background-color: #000000;
    text-align: center;
}
li {
    text-align: left;
    height: auto;
    list-style-position: inside;
    list-style-type: disc;
    color: #BB86FC;
    font-family: "Noka Medium", sans-serif;
    text-shadow: 1px 1px 1px #000000;
}
label{
	text-align: left;
    height: auto;
    list-style-position: inside;
    list-style-type: disc;
    color: #BB86FC;
    font-family: "Noka Medium", sans-serif;
    text-shadow: 1px 1px 1px #000000;
}
.Terms {
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: left;
    list-style-type: none;
    color: #BB86FC;
    font-family: "Noka Semibold", "sans-serif";
}
a {
    font-family: "Noka Medium", sans-serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    vertical-align: baseline;
   
    text-shadow: 1px 1px 1px #000000;
    color: #91FBC1;
	opacity:100%;
}
.box1, #box2 {
		width:inherit;
	height:inherit;
	margin:10px;
	padding:10px;
}
.box1 {
	background: #fcfcfc;
	border-radius: 50px;
	display: inline-block;
	padding: 15px;
	opacity:90%		

}
.grow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  transform: translateZ(0);
}
nav {
	padding-bottom: 50px;
}
.grow:hover {
    transform: scale(1.1);
  }


.intro {
    font-family: "Noka Medium", sans-serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    vertical-align: baseline;

    text-shadow: 1px 1px 1px #000000;
    color: #BB86FC;
    text-align: center;
}
body h2 p {
    color: #BB86FC;
}


.PortraitImg {
    border-radius: 50%;
    text-align: center;
}

.Title {
    color: #8fffff;
    text-decoration: none;
    text-shadow: 3px 3px 1px #000C9A;
    font-family: "Noka Bold", sans-serif;
    font-size: xx-large;
}
.FloatLeft {
    float: left;

}
.center {
    text-align: center;
}
.lastUpdated {
    color: #BB86FC;
    font-family: "Noka Medium", sans-serif;
}
.pageHeader {
    font-family: "Noka Semibold", sans-serif;
    text-shadow: 1px 1px 1px #6B317B;
    color: #BB86FC;
}
#box2 {
	background: #BB86FC;
	border-radius: 50px;
	display: inline-block;
	padding: 10px;
	opacity:90%		
}
.textBoxHolder{
	padding-top:100px;
	margin:auto;
    height: auto;
    width: 375px;
}
.textBoxTop{
    background: #8fffff;
    width: 365px;
    height: 35px;
    font-family: 'Noka Semibold', 'sans-serif';
    letter-spacing: 2px;
    word-spacing: 5px;
    vertical-align: baseline;
  
    text-shadow: 1px 1px 1px #000000;
    color: #BB86FC;
    font-size: x-large;
    border-top-right-radius: 95px;
    border-top-left-radius: 95px;
	margin:auto;
}
.holderp {
    width: 345px;
    height: auto;
    background: #fcfcfc;
    text-align: center;
    border: 10px solid #fcfcfc;
    margin: auto;
    opacity: 100%;
	font-family: "Noka Medium", sans-serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    vertical-align: baseline;
  
    text-shadow: 1px 1px 1px #000000;
    color: #bb86fc;
}
.textBoxBottom{
	opacity:100%;
		background: #fcfcfc;
	border-bottom-right-radius:95px;
	border-bottom-left-radius:95px;
	width:365px;
	height:20px;
	margin:auto;
}


.clear {
    clear: both;
}
#resume {
	width:100%;
	height:100%;
}
.resume{
	width:auto;
	
	height:auto
		;
}
.a {
}
